body {
  background-image: url("../assets/cloud.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
}

#back {
  position: relative;
  top: 10px;
  text-align: center;
}

.content {
  margin-top: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 700px;
  height: 600px;
  display: block;
  border-radius: 25px;
  text-align: center;
  overflow-y: scroll;
}

iframe {
  width: 75%;
  height: 340px;
}

.content::-webkit-scrollbar {
  background-color: lightblue;
  border-radius: 15px;
}

.content::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 15px;
}

.content::-webkit-scrollbar:hover {
  background-color: lightblue;
  cursor: pointer;
}

.titolo {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 15px;
  padding-top: 15px;
  color: red;
}

.testo {
  height: 15%;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.img1 {
  margin-top: 10px;
}

#text2 {
  position: absolute;
  margin-top: 95%;
}

@media (max-width: 800px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 600px;
  }

  body {
    background-size: auto;
  }

  .nav {
    width: 100%;
  }

  .nav .nav-title {
    text-align: center;
  }

  #back {
    position: relative;
    top: 10px;
    text-align: center;
  }

  #text2 {
    position: absolute;
    margin-top: 140%;
  }
}
