* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel img {
  width: 50%;
  height: 70%;
}

button {
  background-color: transparent;
  width: 100px;
  color: #000;
  font-weight: bold;
  outline: none;
  border: none;
  font-size: 50px;
  color: white;
  cursor: pointer;
  transition: all ease 0.5s;
}

button:hover {
  border-radius: 50px;
  box-shadow: inset 1px 8px 17px 14px rgba(0, 0, 0, 0.6);
}

.prev {
  position: absolute;
  top: 55%;
  left: 28%;
}

.next {
  position: absolute;
  top: 55%;
  left: 65%;
}

@media (max-width: 800px) {
  .carousel img {
    width: 70%;
    height: 60%;
  }
}
