* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel img {
  width: 50%;
  height: 70%;
}

button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  outline: none;
  border: none;
  font-size: 50px;
}

.prev {
  position: absolute;
  top: 500px;
  left: 28%;
}
